<a href="https://colab.research.google.com/github/saishrane06/Machine-Learning-Model/blob/main/linear_ridge_lasso_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets download quantbruce/real-estate-price-prediction

Downloading real-estate-price-prediction.zip to /content
  0% 0.00/6.98k [00:00<?, ?B/s]
100% 6.98k/6.98k [00:00<00:00, 6.29MB/s]

In [2]:
! unzip real-estate-price-prediction.zip

Archive:  real-estate-price-prediction.zip
  inflating: Real estate.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
estate_df = pd.read_csv("Real estate.csv")
estate_df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
estate_df = estate_df.drop("No",axis=1)

In [6]:
estate_df.shape

(414, 7)

In [7]:
estate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   X1 transaction date                     414 non-null    float64
 1   X2 house age                            414 non-null    float64
 2   X3 distance to the nearest MRT station  414 non-null    float64
 3   X4 number of convenience stores         414 non-null    int64
 4   X5 latitude                             414 non-null    float64
 5   X6 longitude                            414 non-null    float64
 6   Y house price of unit area              414 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 22.8 KB

In [8]:
estate_df.describe()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
count,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000,414.000000
mean,2013.148971,17.712560,1083.885689,4.094203,24.969030,121.533361,37.980193
std,0.281967,11.392485,1262.109595,2.945562,0.012410,0.015347,13.606488
min,2012.667000,0.000000,23.382840,0.000000,24.932070,121.473530,7.600000
25%,2012.917000,9.025000,289.324800,1.000000,24.963000,121.528085,27.700000
50%,2013.167000,16.100000,492.231300,4.000000,24.971100,121.538630,38.450000
75%,2013.417000,28.150000,1454.279000,6.000000,24.977455,121.543305,46.600000
max,2013.583000,43.800000,6488.021000,10.000000,25.014590,121.566270,117.500000

In [9]:
X = estate_df.drop("Y house price of unit area",axis=1)
y = estate_df['Y house price of unit area']

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)
print(X_train.shape,X_test.shape)

(331, 6) (83, 6)

### **Linear Regression**

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

linear_regression = LinearRegression()
mse = cross_val_score(linear_regression,X,y,scoring='neg_mean_squared_error',cv=5)
mean_mse = np.mean(mse)
print(mean_mse)

-78.3342317746801

In [17]:
linear_regression.fit(X,y)
y_pred = linear_regression.predict(X_test)
print(y_pred)

[39.96250874 12.72370306 41.9157219  12.52482228 42.36963036 39.75218341
 40.48204436 33.57234765 49.46841634 45.85397704 45.93338117 40.65937162
 39.35963075 39.97086697 47.14013013 37.96185246 39.99881151 41.01040197
 40.81426207 42.30700947 49.83119502 30.84947324 39.54192516 45.47309058
 46.18193518 43.43605842 46.44291762 26.00327121 48.17696334 21.09397249
 44.90898301 34.68623029 42.59419824 38.10925895 44.00465161 32.08209102
 47.69159422 39.86427813 52.77691775  7.44286765 52.79240289 32.83403524
 34.17512219 49.70654385 15.27759423 43.46461278 42.37859516 12.83341026
 34.01289788 48.70163227 53.90224614 38.61587363 47.82573429 25.14684004
 30.44415968 34.00227067 48.95413052 40.52965964 43.46814562 32.64813162
 43.8782201  43.58378684 39.4355048  47.05711988 36.67083254 29.98229023
  9.47655036 34.86234689 46.14266672 39.75218341 30.72957061 46.13886467
 44.9465048  30.60618923 40.45876605 36.36554979 31.13584564 12.9668058
 47.11102192 44.70209776 46.85211217 28.83473867 43.21229344]

In [21]:
print("Accuracy of the model : ",r2_score(y_test,y_pred))

Accuracy of the model :  0.6584714060980151

### **Ridge Regression**

In [11]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge_regression = Ridge()
parameters = {'alpha' : [1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
ridge_regressor = GridSearchCV(ridge_regression,parameters,scoring='neg_mean_squared_error',cv=5)
ridge_regressor.fit(X,y)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100]},
             scoring='neg_mean_squared_error')

In [12]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 0.001}
-78.32981495124197

In [29]:
ridge_regressor = Ridge(alpha=0.001)
ridge_regressor.fit(X,y)
y_pred_ridge = ridge_regressor.predict(X_test)
print(y_pred_ridge)

[39.94682282 12.74000306 41.90084015 12.53739362 42.36992046 39.77753809
 40.53422707 33.56538855 49.4651987  45.8223223  45.98125556 40.74516241
 39.34722064 40.02550549 47.12036868 37.94000282 40.02356522 41.00541023
 40.85043038 42.30111135 49.83234007 30.91843201 39.43080949 45.4239642
 46.15420087 43.46731724 46.47213791 26.00383865 48.1385427  21.07859223
 45.00716965 34.71425835 42.56919924 38.05399815 44.02583482 32.15505078
 47.67187057 39.83352687 52.7277298   7.3475771  52.82706022 32.81002304
 34.15363232 49.69179723 15.33519816 43.57099021 42.3378626  12.87442849
 34.01822279 48.80617386 53.91676939 38.57919105 47.79685548 25.24834663
 30.5117626  34.00951601 48.90665385 40.52366219 43.50801801 32.66946272
 43.85733103 43.5936442  39.41456367 47.04583007 36.71619438 29.98512939
  9.47783477 34.83704623 46.08577777 39.77753809 30.74128767 46.09374706
 44.95135277 30.60133585 40.41059272 36.37000087 31.12718109 12.96370901
 47.06725238 44.60203982 46.82195581 28.90071392 43.18588945]

In [30]:
print("Accuracy of the model : ",r2_score(y_test,y_pred_ridge))

Accuracy of the model :  0.6584543549624516

### **Lasso Regression**

In [13]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV

lasso_regression = Lasso()
parameters = {'alpha' : [1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}
lasso_regressor = GridSearchCV(lasso_regression,parameters,scoring='neg_mean_squared_error',cv=5)
lasso_regressor.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.385e+04, tolerance: 6.208e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.227e+04, tolerance: 6.089e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.356e+04, tolerance: 6.207e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.039e+04, tolerance: 5.638e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.352e+04, tolerance: 6.432e+00
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

GridSearchCV(cv=5, estimator=Lasso(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-08, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 35, 40, 45, 50, 55, 100]},
             scoring='neg_mean_squared_error')

In [14]:
print(lasso_regressor.best_params_)
print(lasso_regressor.best_score_)

{'alpha': 0.001}
-78.32025331156856

In [27]:
lasso_regressor = Lasso(alpha=0.001)
lasso_regressor.fit(X,y)
y_pred_lasso =lasso_regressor.predict(X_test)
print(y_pred_lasso)

[39.78672616 12.71373199 41.90758711 12.50366214 42.20143044 39.87935502
 40.58217501 33.48224355 49.5092569  45.82316409 46.03029606 40.72503613
 39.18520983 40.06746429 47.15434264 37.91589832 40.1223263  40.8615398
 40.8552898  42.32881213 49.84900006 31.15770959 39.37861478 45.41968109
 46.22072999 43.54816176 46.5577448  25.88967922 48.13362866 21.67938241
 45.04077505 34.8493066  42.41352861 38.10011016 44.11581261 32.3921119
 47.65430725 39.6593736  52.6818857   7.2266561  52.88980573 32.74247473
 33.99997438 49.67233724 15.36693501 43.59811186 42.3083848  12.90029295
 33.89043866 48.79135253 53.92612701 38.5622992  47.7789952  25.27939521
 30.75176457 34.1101318  48.91155946 40.51585164 43.56149143 32.80816684
 43.83714636 43.61787474 39.24349189 47.09419713 36.76201701 29.87079774
  9.44827472 34.6721446  46.09570726 39.87935502 30.9194188  46.0924889
 44.97618572 30.47471986 40.43497009 36.24451518 31.01051116 12.92216864
 47.06002842 44.52583379 46.81404303 29.14400677 43.15612224]

In [28]:
print("Accuracy of the model : ",r2_score(y_test,y_pred_lasso))

Accuracy of the model :  0.6581028728535923